services:
  mongo:
    image: mongodb/mongodb-atlas-local:latest
    container_name: ocr-mongo
    hostname: mongodb
    environment:
      MONGODB_INITDB_ROOT_USERNAME: root
      MONGODB_INITDB_ROOT_PASSWORD: root123
      MONGODB_INITDB_DATABASE: ocr
    ports:
      - 27017:27017
    volumes:
      - data:/data/db
      - config:/data/configdb
      - ./init-scripts:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "mongodb://admin:admin123@localhost:27017/?authSource=admin",
          "--eval",
          "db.adminCommand('ping')",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    restart: unless-stopped

  minio:
    image: quay.io/minio/minio
    restart: always
    container_name: minio_admin
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  redis:
    image: redis:latest
    restart: always
    container_name: redis_admin
    ports:
      - "6379:6379"

volumes:
  minio_data:
  data:
  config:
