services:
    mongo:
        image: mongodb/mongodb-community-server:6.0-ubi8
        restart: always
        container_name: ocr-mong
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root123
        ports:
            - 27018:27017
        volumes:
            - type: bind
              source: ./data
              target: /data/db
            - ./keyfile:/etc/mongo-keyfile/keyfile

    minio:
        image: quay.io/minio/minio:latest
        restart: always
        container_name: minio_admin
        environment:
            - MINIO_ROOT_USER=admin
            - MINIO_ROOT_PASSWORD=admin123
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - minio_data:/data

volumes:
    minio_data:
